<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title><%=title%></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">Shopping Website</a></h1>
      <p>- by Ankith Aiyar</p>
    </div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.ejs">Home</a></li>
        <li><a href="sign_in.ejs">Sign In</a></li>
        <li><a href="full-width.ejs">Cart</a></li>
        <li><a href="products.ejs">Products</a>
          <ul>
            <li><a href="computers.ejs">Electronics & Computers</a></li>
            <li><a href="books.ejs">Books & Audible</a></li>
            <li><a href="home_tool.ejs">Home, Garden & Tools</a></li>
            <li><a href="kids.ejs">Toys, kids & Baby</a></li>
            <li><a href="clothing.ejs">Clothing, Shoes & Jewelry</a></li>
            <li><a href="sports.ejs">Sports & Outdoors</a></li>
          </ul>
        </li>
        <li class="last"><a href="#">Help</a></li>
      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Go" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">

<h2> Sign In </h2>
<form action="/signin" method="post">
<h4> Username (e-mail id): <input type="text" name="username" id="username" /> </h4>
<h4>
Password: <input type="text" name="password" id="password" />
<input type="submit" name="signin" id="signin" value="Sign In" />
</h4>
<h3> I don't have an account </h3>
<a href="registration.ejs">Register for a free account</a>

  </div>
    <br class="clear" />
  </div>
  <br class="clear" />
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Shopping Website - REST</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
