<html>
<head>
<title><%=title%></title>
<script language="javascript">
function init(){
output.value= "<%=primes%>";
}
</script>
</head>
<body onload="init()">

<p>
<h2>The Prime Numbers are </h2>
<textarea type="text" name="output" id="output" cols=40 rows=20>
</p>

</body>
</html>